<!-- Pages/Quiz.razor -->
@using TeacherAI.Data;
@using TeacherAI.Service;


<style>
    .quiz-container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        text-align: center;
    }

    .question-container {
        background-color: #3498db;
        color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .answer-button {
        background-color: #2ecc71;
        color: #fff;
        padding: 10px 20px;
        margin: 5px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }

    .score-container {
        margin-top: 20px;
        font-size: 18px;
        font-weight: bold;
        color: #2ecc71;
    }

    .message {
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        word-wrap: break-word;
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    }

    .sent {
        background-color: #3498db;
        color: #fff;
        align-self: flex-end;
    }
</style>



<div class="quiz-container ">

    @if (quiz != null)
    {
        <div class="question-container @(isAnswered? (isAnsweredGood? "correct-answer":"wrong-answer"): "")">
            <h3>Klausimas</h3>

            <p>@quiz.Klausimas</p>

            @if (!isAnswered)
            {
                @foreach (var answer in quiz.Atsakymai)
                {
                    var randomColor = GetRandomColor();

                    <button class="answer-button" style="background-color: @randomColor" @onclick="()=>CheckAnswer(answer.Key)">@answer.Value</button>
                }
            }
            else
            {
                if (!isLoadingExplanation)
                {
                    if (!String.IsNullOrEmpty(@quiz.Atsakymas))
                    {
                        <div class="message sent">
                            <div class="message-content">
                                <p>@quiz.Atsakymas</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="alert-danger">
                            <p>Nepavyko gauti paaiškinimo</p>
                        </div>
                    }
                }
                else
                {
                    <div class="alert-info">
                        <p>Generuojamas paaiškinimas</p>
                    </div>
                }


                <div>
                    <!-- <button class="beautiful-button">
                        Paiškinimas
                    </button> -->
                    <button class="beautiful-button" @onclick="()=>CloseComponent()">
                        Uždaryti
                    </button>
                </div>
            }

        </div>
    }

    <!--<div class="score-container">
        Score: @score
    </div>-->
</div>

@code {
    [Parameter]
    public EventCallback<bool> EndQuiz { get; set; }

    [Parameter]
    public EventCallback<bool> DoLoading { get; set; }

    [Parameter]
    public AIService AIService { get; set; }

    private Quiz quiz;

    private Random random = new Random();

    private bool showQuestion = true;
    private bool isAnswered = false;
    private bool isAnsweredGood = false;
    private bool isLoadingExplanation = true;

    private int score = 0;

    protected override async Task OnInitializedAsync()
    {
        quiz = AIService.GetQuiz();

    }

    private string GetRandomColor()
    {
        var color = $"rgb({random.Next(256)}, {random.Next(256)}, {random.Next(256)})";
        return color;
    }

    private async Task CheckAnswer(string selectedAnswer)
    {
        isAnswered = true;
        isAnsweredGood = false;
        isLoadingExplanation = true;

        if (selectedAnswer == quiz.Teisingas_atsakymas)
        {
            isAnsweredGood = true;
            Console.WriteLine("Correct!");
            score++;
        }
        else
        {
            // Handle incorrect answer
            Console.WriteLine("Incorrect!");
        }

        showQuestion = false;

        await DoLoading.InvokeAsync(true);
        Task.Run(async () =>
       {
           await AIService.ProvideAnswer(selectedAnswer);
           quiz = AIService.UpdateQuiz(quiz);
           isLoadingExplanation = false;
           await DoLoading.InvokeAsync(false);
           InvokeAsync(StateHasChanged);
       });

        //await EndQuiz.InvokeAsync(true);
    }

    private async Task CloseComponent()
    {
        await EndQuiz.InvokeAsync(isAnsweredGood);
    }


}
